a:hover{
    color:#070707;;
}

a:visited {
    color: #553555;
}

body {
    background-color:#96C5B0;


}

@media only screen and (max-width: 600px) {
    nav, nav a {max-width: 100%; display: block; margin: 5px;}
    span {display: none;}
}


p{
   background-color: #C4B595; 
   padding: 10px;
   margin: 20px;

}
img{
    height:auto;
    width:100px;
}

.quote{
    float: right;
}

h2{
    color:#C4959D
}

nav{
    color:rgb(49, 16, 80);

}

nav a:hover {
    background-color: #9995C4;
}

nav{
    padding:10px
}

nav{
    margin-bottom: 30px;
}