@media only screen and (max-width: 600px) {
    nav, nav a {max-width: 100%; display: block; margin: 5px;}
    span {display: none;}
}


body {
    background-color: grey;
}


nav{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Playfair Display', serif;
    margin: 30px;
    margin: 30px;
}

#skip {
    position: absolute;
    left: -999px;
    background-color: white;
    padding: 5px;
}

#skip:focus {
    left: 10px;
}


.photogrid {
    display:flex;
    font-family: 'Playfair Display', serif;
}


.photogrid img {
    width: 100%;
    height: auto;
    font-family: 'Playfair Display', serif;
}


.photogrid {
padding: 20px;

}


.one {
    padding-right: 50px;
}

.two {
    padding-bottom: 50px;
}

.three {
    padding-bottom: 50px;
}

.four {
    padding-bottom: 50px;
}

.five {
    padding-bottom: 50px;
}

.six {
    padding-bottom: 50px;
}
.seven {
    padding-bottom: 50px;
}
.eight {
    padding-bottom: 50px;
}


h1,footer {
    font-family: 'Brush Script MT', 'Times New Roman', Times, serif;
  }


 .img {
    height:auto;
    width: 100%;
 }

 .name {
    float: left;
 }

 .quote {
    float: right;
 }
 
 h1, h2, footer {
    color: black;
 }

 h2 {
    font-family: 'Playfair Display', serif;
 }

 nav a:link {
    color: black;

 }

nav a:hover {
    color: blue;
}

nav a:visited {
    color: black;
}

h2{
text-align: center;
margin: 30px;
}

.chat {
    display: flex;
    margin-right: 30px;
}

.chat1 {
    padding-right: 20px;
    padding-left: 20px;
}

.profilebutton {
    color: black;
    width: auto;
}

.settingsbutton {
    color: black;
}

.homebutton {
    color: black;
}

h3 {
    text-align: center;
}

.chat0{
    padding-left: 10px;
    padding-top: 100%;
    margin-top: 100%;
}

.chat {
    padding-left: 10px;
}

h5{
    padding-top: 200px;
}
