@media only screen and (max-width: 600px) {
    nav, nav a {max-width: 100%; display: block; margin: 5px;}
    span {display: none;}
}

body {
    background-color: grey;
}

nav {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px;
    margin-right: 50px;
}

 .img {
    height: auto;
    width: 100%;
 }

 .name {
    float: left;
 }

 .quote {
    float: right;
 }
 
 h1, h2, footer {
    color: black;
 }

 nav a:link {
    color: black;

 }

nav a:hover {
    color: blue;
}

nav a:visited {
    color: white;
}

h2 {
text-align: center;
margin: 30px;
}

